<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mch.system.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.mch.system.entity.Menu">
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="menu_type" jdbcType="INTEGER" property="menuType" />
    <result column="sort_num" jdbcType="INTEGER" property="sortNum" />
  </resultMap>
  <sql id="Base_Column_List">
    menu_id, name, action, url, parent_id, status, menu_type, sort_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>

  <!--查询父目录-->
  <select id="selectMenuByParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_menu
    where parent_id = #{parentId,jdbcType=INTEGER}
  </select>

  <!--查询是否有子目录-->
  <select id="selectMenuChildCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select
    COUNT(*)
    from tb_menu
    where parent_id = #{parentId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mch.system.entity.Menu">
    insert into tb_menu (menu_id, name, action, 
      url, parent_id, status, 
      menu_type, sort_num)
    values (#{menuId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{action,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{menuType,jdbcType=INTEGER}, #{sortNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mch.system.entity.Menu">
    insert into tb_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="action != null">
        action,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="menuType != null">
        menu_type,
      </if>
      <if test="sortNum != null">
        sort_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="action != null">
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="menuType != null">
        #{menuType,jdbcType=INTEGER},
      </if>
      <if test="sortNum != null">
        #{sortNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mch.system.entity.Menu">
    update tb_menu
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="action != null">
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="menuType != null">
        menu_type = #{menuType,jdbcType=INTEGER},
      </if>
      <if test="sortNum != null">
        sort_num = #{sortNum,jdbcType=INTEGER},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mch.system.entity.Menu">
    update tb_menu
    set name = #{name,jdbcType=VARCHAR},
      action = #{action,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      menu_type = #{menuType,jdbcType=INTEGER},
      sort_num = #{sortNum,jdbcType=INTEGER}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>