<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mch.system.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.mch.system.entity.Role">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="	
gen_time" jdbcType="TIMESTAMP" property="	
genTime" />
    <result column="right_type" jdbcType="INTEGER" property="rightType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="	
status" jdbcType="INTEGER" property="	
status" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_name, 	
gen_time, right_type, description, 	
status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mch.system.entity.Role">
    insert into tb_role (role_id, role_name, 	
gen_time, 
      right_type, description, 	
status
      )
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{	
genTime,jdbcType=TIMESTAMP}, 
      #{rightType,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{	
status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mch.system.entity.Role">
    insert into tb_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="	
genTime != null">
        	
gen_time,
      </if>
      <if test="rightType != null">
        right_type,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="	
status != null">
        	
status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="	
genTime != null">
        #{	
genTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rightType != null">
        #{rightType,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="	
status != null">
        #{	
status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mch.system.entity.Role">
    update tb_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="	
genTime != null">
        	
gen_time = #{	
genTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rightType != null">
        right_type = #{rightType,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="	
status != null">
        	
status = #{	
status,jdbcType=INTEGER},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mch.system.entity.Role">
    update tb_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      	
gen_time = #{	
genTime,jdbcType=TIMESTAMP},
      right_type = #{rightType,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      	
status = #{	
status,jdbcType=INTEGER}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>